.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    background-color: aliceblue;
}
.container{
    display: flex;
    justify-content:space-between;
    background-color:white;
    border-radius: 10px;
}
